<div class="header">
	<div class="header_in">
		<div class="logo_container">
			<img src="logotip.png" width="70px" height="70px">
		</div>

		<ul class="nav">
			<li><a class="nav_link" href="/">Home</a></li>
			<li><a class="nav_link" href="/list">Menu</a></li>
			<li><a class="nav_link" href="/#about_section">About Us</a></li>
			<li><a class="nav_link" href="#">Contacts</a></li>
			<li><a class="nav_link" href="/search">Search</a></li>
		</ul>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="section_inner">
		{{#each admin}}
			<div class="list_elements">
				<div class="elements">
					<a href="/{{path}}" class="element_name" name="{{name}}">{{name}}</a>
				</div>
				<form action="delete" method="POST">
				<div class="delete">
					<button name="{{name}}" class="delete_button">Delete</button>
				</div>
				</form>
			</div>
		{{/each}}
		</div>
	</div>
</div>

<div class="create_item">
	<div class="container">
		<div class="create_element">
			<form action="create" method="POST">
				<p class="element_name">Name of element:</p><input type="text" name="name" placeholder="For example, Молочная девочка...">
				<p class="element_title">Title of element:</p><input type="text" name="title" placeholder="For example, Type of Cakes">
				<p class="element_image">Image of element:</p><input type="text" name="image" placeholder="For example, nameofelement.jpg">
				<p class="element_path">Path of element:</p><input type="text" name="path" placeholder="Anything...">
				<p class="element_price">Price of element:</p><input type="text" name="price" placeholder="For example, 200$...">
				<input type="submit" value="Create">
			</form>
		</div>
	</div>
</div>

<div class="footer_admin"> 
	<div class="container">
		<div class="footer_inner">
			<div class="footer_item">
				<p>Find Us:
					<a href=""><img id="icon" src="insta.png" width="20px" height="20px"></a>
					<a href=""><img id="icon" src="face.png" width="20px" height="20px"></a>
				</p>
			</div>
			<div class="footer_item">
				<p>Contacts:  +7 701 777 77 77</p>
			</div>
			<div class="footer_item">
				<p>Location:  Kazakhstan, Almaty</p>
			</div>
		</div>
	</div>
</div>

