<div id="room">
		<h3>Регистрация</h3>
		<form method="POST" action="user_new" id="sign">
			<div id="login">
			<input type="text" id="login" name="name" autocorrect="off" autofocus="autofocus" autocapitalize="off" placeholder="Enter phone number">
			</div>
			<div id="bttn">
			<button type="submit" class="continue">Continue</button>
		</div>
	</form>
</div>