		body{
			margin:0;
			font-size: 15px;
			line-height: 1.7;
			color: #333;
		}

		*{
			margin: 0;
			padding:0;
			list-style:none;
			text-decoration: none;
		}

		*, *:before, *:after{
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}

		/* header */

		.header{
			width: 100%;
			height: 80px;
			display: block;
			background-color: darkred;/*#101010;*/
		}

		.header_in{
			width: 1000px;
			height: 100%;
			display: block;
			margin: 0 auto;
		}

		.logo_container{
			height: 100%;
			display: table;
			float: left;
		}

		.logo_container img{
		    display: table-cell;
		    vertical-align: middle;
		}

		.nav{
			float: right;
			height: 100%;
		}

		.nav li{
			height: 100%;
			display: table;
			float: left;
			padding: 0px 20px;
		}

		.nav li:last-child{
			padding-right:0;
		}
		.nav li a{
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			color: white;
			font-family: "Kaushan Script";
			font-size: 16px;
		}
		.nav_link:after{
			content: "";
			display: block;
			width: 100%;
			height: 3px;
			background-color: indianred;
			opacity: 0;
			transition: opacity .2s linear
		}
		a.nav_link:hover{
			color: indianred;
		}
		a.nav_link:hover:after{
			opacity: 1;
		}

		/*container*/

		.container{
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
		}

		
		/* Menu */

		.menu_items{
			margin-top: 6%;
			display: flex;
			padding: 30px;
		}

		.menu_item_list{
			display: flex;
			flex-direction: column;
		}

		.menu_list{
			border: 3px solid darkred;
			border-radius: 5px;
			background-color: darkred;
			color: #fff;

			margin: 10px;
			padding: 16px 130px;

			text-align: center;
			text-transform: uppercase;
			font-family: "Kaushan Script";
			
		}

		.filter_button{
			width: 100px;
			height: 50px;
			border: 3px solid darkred;
			background-color: indianred;
			font-size: 14px;
			margin-left: 10px;
		}

		.filter_button:hover{
			background-color: darkred;
			color: white;
		}

		#list{
			border:none;
		}

		/* Animation */

		.menu_list:hover{
			background-color: indianred;
			transition: background .2s linear, color .2s linear;
		}

		.menu_item_images{
			margin: 0 50px 0;
		}

		.first{ grid-area: cake;}
		.second{ grid-area: pizza; }
		.third{ grid-area: cupcake; }
		.fourth{ grid-area: ice; }
		.fifth{ grid-area: other; }

		.menu_image{
			display: grid;
			grid-template-areas: 'cake cupcake ice'
								 'pizza cupcake other';
			grid-gap: 15px;
			padding: 10px;
		}
		/* Animation photos */
		.images:hover .menu_item_image{
			transform: translate3d(-10px, -10px, 0);
		}
		.images:hover .menu_item_image img{
			opacity: 0.6;
			transition: opacity .1s linear, transform .1s linear;
		}

		/* Type of cakes */

		.list_title{
			font-family: cinzel;
			margin: 30px 10px 10px;
			text-align: center;
		}

		.list_cake_items{
			margin-top: 30px;
			display: grid;
			grid-template-columns: auto auto auto auto;
			grid-gap: 20px;
		}

		.list_cake_item{
			box-shadow: 5px 5px 5px 5px rgba(28,24,25,.15);
			display: flex;
			justify-content: center;
			position: relative;
		}

		.list_item_text{
			position: absolute;
			top: 0px;
			left: 130px;

			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 5px;
			width: 100%;
			max-width: 115px;

			text-align: center;
			color: white;

			font-family: 'Kaushan Script';
		}

		.list_cake_price{
			position: absolute;
			top:90%;
			left: 130px;

			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 5px;
			width: 100%;
			max-width: 115px;

			text-align: center;
			color: white;

			font-family: 'Kaushan Script';
		}

		

		/*Footer*/

		.footer{
			background-color: indianred;
			position: relative;
			bottom: 0;
		}

		.footer_inner{
			display: flex;
			justify-content: space-between;
			padding: 20px 20px;
			margin-top: 20px;
		}

		@media only screen and (max-width: 600px){
			.nav{
				float: right;
				height: 100%;
				max-width: 900px;
				width: 100%;
			}
			.nav li{
				height: 100%;
				display: table;
				float: left;
				padding: 0px 20px;
			}
			.nav li:last-child{
				padding-right:0;
			}
			.nav li a{
				display: table-cell;
				vertical-align: middle;
				height: 100%;
				color: white;
				font-family: "Kaushan Script";
				font-size: 16px;
			}
			.nav_link:after{
				content: "";
				display: block;
				width: 100%;
				height: 3px;
				background-color: indianred;
				opacity: 0;
				transition: opacity .2s linear
			}
			a.nav_link:hover{
				color: indianred;
			}
			a.nav_link:hover:after{
				opacity: 1;
			}
			.menu_image{
				display: none;
			}
			.list_cake_items{
				margin-top: 30px;
				display: grid;
				grid-template-columns: auto auto;
				grid-gap: 20px;
			}
			.list_item_text{
			position: absolute;
			top: 0px;
			left: 115px;

			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 5px;
			width: 100%;
			max-width: 115px;

			text-align: center;
			color: white;

			font-family: 'Kaushan Script';
		}

		.list_cake_price{
			position: absolute;
			top:90%;
			left: 115px;

			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 5px;
			width: 100%;
			max-width: 115px;

			text-align: center;
			color: white;

			font-family: 'Kaushan Script';
		}

		}