		body{
			margin:0;
			font-size: 15px;
			line-height: 1.7;
			color: #333;
			font-family: "Castoro";
		}

		*{
			margin: 0;
			padding:0;
			list-style:none;
			text-decoration: none;
		}

		*, *:before, *:after{
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}

		/* header */

		.header{
			width: 100%;
			height: 80px;
			display: block;
			background-color: darkred;/*#101010;*/
		}

		.header_in{
			width: 1000px;
			height: 100%;
			display: block;
			margin: 0 auto;
		}

		.logo_container{
			height: 100%;
			display: table;
			float: left;
		}

		.logo_container img{
		    display: table-cell;
		    vertical-align: middle;
		}

		.nav{
			float: right;
			height: 100%;
		}

		.nav li{
			height: 100%;
			display: table;
			float: left;
			padding: 0px 20px;
		}

		.nav li:last-child{
			padding-right:0;
		}
		.nav li a{
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			color: white;
			font-family: "Kaushan Script";
			font-size: 16px;
		}
		.nav_link:after{
			content: "";
			display: block;
			width: 100%;
			height: 3px;
			background-color: indianred;
			opacity: 0;
			transition: opacity .2s linear
		}
		a.nav_link:hover{
			color: indianred;
		}
		a.nav_link:hover:after{
			opacity: 1;
		}

