<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <style>
    	#room{
        box-shadow: 0 5px 10px 0 rgba(28,24,25,.15);
        width:300px;
        background-color: white;
        padding: 20px 20px 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        body{
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            margin: 100px;
            padding: 100px;
        }
        h3{
            color: indianred;
            text-align: left;
        }
        #bttn{
            margin: 10px;
            margin-bottom: 0;
            padding: 10px;
        }
        button{
            width:200px;
            height:35px;
            color: white;
            background-color: indianred;
            border: 1px solid red;
        }
        input[placeholder="Enter phone number"]{
            color:pink;
        }
        input[type="text"]{
            border-radius: 8px;
            width: 205px;
            border: 2px solid indianred;
            height: 30px;
            margin: 12px;
        }
    </style>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>